@page "/Ejercicio_28"
@rendermode InteractiveServer
@inject NavigationManager Navigation

<h3>Ejercicio 28</h3>

<div class="form-group">
    <label for="numeros">Escribe 10 números separados por comas</label>
    <input type="text" class="form-control" id="numeros" @bind="textoNumeros" placeholder="Ejemplo: 3,8,13,10,5,9,4,6,2,7" />
</div>

<div class="form-group">
    <button class="btn btn-primary" @onclick="ContarNumerosPrimos">Contar números primos</button>
</div>

<p>La cantidad de números primos es: @cantidadPrimos</p>
<button class="btn btn-secondary" @onclick="Regresar">Regresar</button>

@code {
    private string textoNumeros;
    private int? cantidadPrimos = null;

    private void ContarNumerosPrimos()
    {
        int[] numeros = textoNumeros.Split(',').Select(int.Parse).ToArray();

        if (numeros.Length == 10)
        {
            cantidadPrimos = ContarPrimos(numeros);
        }
        else
        {
            cantidadPrimos = null;
        }
    }
    private int ContarPrimos(int[] numeros)
    {
        int contador = 0;

        foreach (var numero in numeros)
        {
            if (EsPrimo(numero))
            {
                contador++;
            }
        }

        return contador;
    }

    private bool EsPrimo(int numero)
    {
        if (numero < 2) return false;

        for (int i = 2; i <= Math.Sqrt(numero); i++)
        {
            if (numero % i == 0)
            {
                return false;
            }
        }

        return true;
    }

    private void Regresar() {
        Navigation.NavigateTo("/");
    }
}
