@page "/Ejercicio_42"
@rendermode InteractiveServer
@inject NavigationManager Navigation

<div class="container">
    <h3>Ejercicio 42</h3>

    <div class="row">
        <div class="col">
            <div class="form-group">
                <label for="elemento00">Elemento [0,0]</label>
                <input type="number" class="form-control" id="elemento00" @bind="matriz[0, 0]" />
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label for="elemento01">Elemento [0,1]</label>
                <input type="number" class="form-control" id="elemento01" @bind="matriz[0, 1]" />
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label for="elemento02">Elemento [0,2]</label>
                <input type="number" class="form-control" id="elemento02" @bind="matriz[0, 2]" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="form-group">
                <label for="elemento10">Elemento [1,0]</label>
                <input type="number" class="form-control" id="elemento10" @bind="matriz[1, 0]" />
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label for="elemento11">Elemento [1,1]</label>
                <input type="number" class="form-control" id="elemento11" @bind="matriz[1, 1]" />
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label for="elemento12">Elemento [1,2]</label>
                <input type="number" class="form-control" id="elemento12" @bind="matriz[1, 2]" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="form-group">
                <label for="elemento20">Elemento [2,0]</label>
                <input type="number" class="form-control" id="elemento20" @bind="matriz[2, 0]" />
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label for="elemento21">Elemento [2,1]</label>
                <input type="number" class="form-control" id="elemento21" @bind="matriz[2, 1]" />
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label for="elemento22">Elemento [2,2]</label>
                <input type="number" class="form-control" id="elemento22" @bind="matriz[2, 2]" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="form-group">
                <label for="elemento30">Elemento [3,0]</label>
                <input type="number" class="form-control" id="elemento30" @bind="matriz[3, 0]" />
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label for="elemento31">Elemento [3,1]</label>
                <input type="number" class="form-control" id="elemento31" @bind="matriz[3, 1]" />
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label for="elemento32">Elemento [3,2]</label>
                <input type="number" class="form-control" id="elemento32" @bind="matriz[3, 2]" />
            </div>
        </div>
    </div>
    <div class="form-group">
        <button class="btn btn-primary" @onclick="ContarRepeticionesMayor">Buscar Fila del Mayor Dato</button>
    </div>

    <p>El mayor dato se repite @cantidadRepeticiones veces.</p>
    <button class="btn btn-secondary" @onclick="Regresar">Regresar</button>
</div>


@code {
    private int[,] matriz = new int[4, 3];
    private int cantidadRepeticiones = 0;

    private void ContarRepeticionesMayor()
    {
        int mayor = matriz[0, 0];
        cantidadRepeticiones = 0;

        for (int i = 0; i < 4; i++)  
        {
            for (int j = 0; j < 3; j++)  
            {
                if (matriz[i, j] > mayor)
                {
                    mayor = matriz[i, j];
                }
            }
        }

        for (int i = 0; i < 4; i++) 
        {
            for (int j = 0; j < 3; j++)
            {
                if (matriz[i, j] == mayor)
                {
                    cantidadRepeticiones++;
                }
            }
        }
    }
    private void Regresar() {
        Navigation.NavigateTo("/");
    }
}