@inherits LayoutComponentBase
@inject NavigationManager NavMan

<div class="container">
   <header class="border-bottom">
        <div class="text-end">
    <NavLink class="btn btn-primary" href="acerca_de">Acerca de</NavLink>
        </div>
        <div>
            <a href="/" class="Linkinv">
            <h1>Tarea 2</h1></a>
            <h5>Estos son los ejercicios pares</h5>
        </div>
   </header>

   <div id="divMain">
        @Body
   </div>

</div>
