/* styles.css */
.titulo-digitos[b-hmcjy7mfey] {
    font-size: 1.5rem;
    font-weight: bold;
}

.calcular-btn[b-hmcjy7mfey] {
    margin-top: 10px;
}

.form-group[b-hmcjy7mfey] {
    margin-bottom: 1rem;
}
