@page "/"

<PageTitle>Home</PageTitle>



<h1>Selecciona el ejercicio que quiera visualizar</h1>

<div class="row">
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <div class="box-part text-center glow-border">
            <i class="bi bi-2-square" style="font-size: 40px;"></i>
            <div class="title">
                <h4>Ejercicio 2</h4>
            </div>
            <div class="text">
                <span>Construir una función que reciba un parámetro un entero retorne sus dos últimos dígitos</span>
            </div>
            <NavLink href="Ejercicio_2">Ver aquí</NavLink>
        </div>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <div class="box-part text-center glow-border">
            <i class="bi bi-4-square" style="font-size: 40px;"></i>
            <div class="title">
                <h4>Ejercicio 4</h4>
            </div>
            <div class="text">
                <span>Construir una función que reciba como parámetro entero retorne la cantidad de dígitos pares</span>
            </div>
            <NavLink href="Ejercicio_4">Ver aquí</NavLink>
        </div>
    </div>

	<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <div class="box-part text-center glow-border">
            <i class="bi bi-6-square" style="font-size: 40px;"></i>
            <div class="title">
                <h4>Ejercicio 6</h4>
            </div>
            <div class="text">
                <span>Construir una función que reciba como parámetro un entero y retorne el carácter el cual pertenece ese entero como código ASCII</span>
            </div>
            <NavLink href="Ejercicio_6">Ver aquí</NavLink>
        </div>
    </div>

	<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <div class="box-part text-center glow-border">
            <i class="bi bi-8-square" style="font-size: 40px;"></i>
            <div class="title">
                <h4>Ejercicio 8</h4>
            </div>
            <div class="text">
                <span>Construir una función que reciba como parámetro un entero y retorne 1 si dicho entero está entre los 30 primeros elementos de la serie fibonacci. Deberá retornar 0 si no es así</span>
            </div>
            <NavLink href="Ejercicio_8">Ver aquí</NavLink>
        </div>
    </div>

	<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
		<div class="box-part text-center glow-border">
			<div class="number-container">
				<i class="bi bi-1-square" style="font-size: 40px;"></i>
				<i class="bi bi-0-square" style="font-size: 40px;"></i>
			</div>
			<div class="title">
				<h4>Ejercicio 10</h4>
			</div>
			<div class="text">
				<span>Construir una función que reciba como parámetro un entero y retorne el primer dígito de este entero</span>
			</div>
			<NavLink href="Ejercicio_10">Ver aquí</NavLink>
		</div>
	</div>

	<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
		<div class="box-part text-center glow-border">
			<div class="number-container">
				<i class="bi bi-1-square" style="font-size: 40px;"></i>
				<i class="bi bi-2-square" style="font-size: 40px;"></i>
			</div>
			<div class="title">
				<h4>Ejercicio 12</h4>
			</div>
			<div class="text">
				<span>Construir una función que reciba como parámetro un entero y un dígito y retorne 1 si dicho dígito está en dicho entero y 0 si no es así</span>
			</div>
			<NavLink href="Ejercicio_12">Ver aquí</NavLink>
		</div>
	</div>

	<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
		<div class="box-part text-center glow-border">
			<div class="number-container">
				<i class="bi bi-1-square" style="font-size: 40px;"></i>
				<i class="bi bi-4-square" style="font-size: 40px;"></i>
			</div>
			<div class="title">
				<h4>Ejercicio 14</h4>
			</div>
			<div class="text">
				<span>Construir una función que reciba como parámetros dos números enteros y retorna el valor mayor</span>
			</div>
			<NavLink href="Ejercicio_14">Ver aquí</NavLink>
		</div>
	</div>

	<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
		<div class="box-part text-center glow-border">
			<div class="number-container">
				<i class="bi bi-1-square" style="font-size: 40px;"></i>
				<i class="bi bi-6-square" style="font-size: 40px;"></i>
			</div>
			<div class="title">
				<h4>Ejercicio 16</h4>
			</div>
			<div class="text">
				<span>Construir una función que reciba como parámetro un entero y retorne 1 si corresponde al código ASCII de una letra minúscula( los códigos ASCII de las letras minúsculas van desde 97 que el código de la letra a hasta 122 que es el código de la letra Z). Deberá retornar cero si no es así</span>
			</div>
			<NavLink href="Ejercicio_16">Ver aquí</NavLink>
		</div>
	</div>

	<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
		<div class="box-part text-center glow-border">
			<div class="number-container">
				<i class="bi bi-1-square" style="font-size: 40px;"></i>
				<i class="bi bi-8-square" style="font-size: 40px;"></i>
			</div>
			<div class="title">
				<h4>Ejercicio 18</h4>
			</div>
			<div class="text">
				<span>Construir una función que reciba como parámetro un valor entero y retornar 1 si dicho valor es el factorial de alguno de los dígitos del número. Deberá retornar si no es así</span>
			</div>
			<NavLink href="Ejercicio_18">Ver aquí</NavLink>
		</div>
	</div>

	<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
		<div class="box-part text-center glow-border">
			<div class="number-container">
				<i class="bi bi-2-square" style="font-size: 40px;"></i>
				<i class="bi bi-0-square" style="font-size: 40px;"></i>
			</div>
			<div class="title">
				<h4>Ejercicio 20</h4>
			</div>
			<div class="text">
				<span>Construir una función que reciba como parámetro un entero y retorne 1 si en dicho valor todos los dígitos son iguales. Deberá retornar 0 si no es así</span>
			</div>
			<NavLink href="Ejercicio_20">Ver aquí</NavLink>
		</div>
	</div>

	<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
		<div class="box-part text-center glow-border">
			<div class="number-container">
				<i class="bi bi-2-square" style="font-size: 40px;"></i>
				<i class="bi bi-2-square" style="font-size: 40px;"></i>
			</div>
			<div class="title">
				<h4>Ejercicio 22</h4>
			</div>
			<div class="text">
				<span>Construir una función que recibe como parámetro un entero y retorne 1 si dicho valor es un múltiplo de 5. Deberás retornar 0 si no es así</span>
			</div>
			<NavLink href="Ejercicio_22">Ver aquí</NavLink>
		</div>
	</div>

	<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
		<div class="box-part text-center glow-border">
			<div class="number-container">
				<i class="bi bi-2-square" style="font-size: 40px;"></i>
				<i class="bi bi-4-square" style="font-size: 40px;"></i>
			</div>
			<div class="title">
				<h4>Ejercicio 24</h4>
			</div>
			<div class="text">
				<span>Construir una función que reciba como parámetro dos enteros de dos dígitos cada uno y retorne 1 sin son inversos ejemplo 83 es inverso de 38. Deberá retornar 0 si no es así</span>
			</div>
			<NavLink href="Ejercicio_24">Ver aquí</NavLink>
		</div>
	</div>

	<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
		<div class="box-part text-center glow-border">
			<div class="number-container">
				<i class="bi bi-2-square" style="font-size: 40px;"></i>
				<i class="bi bi-6-square" style="font-size: 40px;"></i>
			</div>
			<div class="title">
				<h4>Ejercicio 26</h4>
			</div>
			<div class="text">
				<span>Construir una función que reciba como parámetro un vector de 10 posiciones enteras y retorne el mayor de los 10 vectores</span>
			</div>
			<NavLink href="Ejercicio_26">Ver aquí</NavLink>
		</div>
	</div>

	<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
		<div class="box-part text-center glow-border">
			<div class="number-container">
				<i class="bi bi-2-square" style="font-size: 40px;"></i>
				<i class="bi bi-8-square" style="font-size: 40px;"></i>
			</div>
			<div class="title">
				<h4>Ejercicio 28</h4>
			</div>
			<div class="text">
				<span>Construir una función que reciba como parámetro un vector de 10 posiciones enteras y retorne la cantidad de números primos almacenados en el vector</span>
			</div>
			<NavLink href="Ejercicio_28">Ver aquí</NavLink>
		</div>
	</div>

	<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
		<div class="box-part text-center glow-border">
			<div class="number-container">
				<i class="bi bi-3-square" style="font-size: 40px;"></i>
				<i class="bi bi-0-square" style="font-size: 40px;"></i>
			</div>
			<div class="title">
				<h4>Ejercicio 30</h4>
			</div>
			<div class="text">
				<span>Construir una función que reciba como parámetro un vector de 10 posiciones enteras y retorne la posición del mayor número primo almacenado en el vector</span>
			</div>
			<NavLink href="Ejercicio_30">Ver aquí</NavLink>
		</div>
	</div>

	<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
		<div class="box-part text-center glow-border">
			<div class="number-container">
				<i class="bi bi-3-square" style="font-size: 40px;"></i>
				<i class="bi bi-2-square" style="font-size: 40px;"></i>
			</div>
			<div class="title">
				<h4>Ejercicio 32</h4>
			</div>
			<div class="text">
				<span>Construir una función que reciba como parámetro un vector de 10 posiciones enteras y retorne el promedio Real del vector</span>
			</div>
			<NavLink href="Ejercicio_32">Ver aquí</NavLink>
		</div>
	</div>

	<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
		<div class="box-part text-center glow-border">
			<div class="number-container">
				<i class="bi bi-3-square" style="font-size: 40px;"></i>
				<i class="bi bi-4-square" style="font-size: 40px;"></i>
			</div>
			<div class="title">
				<h4>Ejercicio 34</h4>
			</div>
			<div class="text">
				<span>Construir una función que reciba como parámetro un vector de 10 posiciones enteras y retorne la posición del número entero que tenga mayor cantidad de dígitos</span>
			</div>
			<NavLink href="Ejercicio_34">Ver aquí</NavLink>
		</div>
	</div>

	<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
		<div class="box-part text-center glow-border">
			<div class="number-container">
				<i class="bi bi-3-square" style="font-size: 40px;"></i>
				<i class="bi bi-6-square" style="font-size: 40px;"></i>
			</div>
			<div class="title">
				<h4>Ejercicio 36</h4>
			</div>
			<div class="text">
				<span>Construir una función que reciba como parámetro un entero y retorne ese elemento de la serie fibonacci</span>
			</div>
			<NavLink href="Ejercicio_36">Ver aquí</NavLink>
		</div>
	</div>

	<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
		<div class="box-part text-center glow-border">
			<div class="number-container">
				<i class="bi bi-3-square" style="font-size: 40px;"></i>
				<i class="bi bi-8-square" style="font-size: 40px;"></i>
			</div>
			<div class="title">
				<h4>Ejercicio 38</h4>
			</div>
			<div class="text">
				<span>Construir una función que reciba como parámetro un vector de 10 posiciones enteras y retorne la cantidad de números terminados en 3 que contiene el vector</span>
			</div>
			<NavLink href="Ejercicio_38">Ver aquí</NavLink>
		</div>
	</div>

	<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
		<div class="box-part text-center glow-border">
			<div class="number-container">
				<i class="bi bi-4-square" style="font-size: 40px;"></i>
				<i class="bi bi-0-square" style="font-size: 40px;"></i>
			</div>
			<div class="title">
				<h4>Ejercicio 40</h4>
			</div>
			<div class="text">
				<span>Construir una función que reciba como parámetro un vector de 10 posiciones enteras y un dígito y que retorne la cantidad de números del vector que terminan en dicho dígito</span>
			</div>
			<NavLink href="Ejercicio_40">Ver aquí</NavLink>
		</div>
	</div>

	<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
		<div class="box-part text-center glow-border">
			<div class="number-container">
				<i class="bi bi-4-square" style="font-size: 40px;"></i>
				<i class="bi bi-2-square" style="font-size: 40px;"></i>
			</div>
			<div class="title">
				<h4>Ejercicio 42</h4>
			</div>
			<div class="text">
				<span>Construir una función que reciba como parámetro una matriz de 3x4 entera y retorne la cantidad de veces que se repite el mayor dato de la matriz</span>
			</div>
			<NavLink href="Ejercicio_42">Ver aquí</NavLink>
		</div>
	</div>

	<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
		<div class="box-part text-center glow-border">
			<div class="number-container">
				<i class="bi bi-4-square" style="font-size: 40px;"></i>
				<i class="bi bi-4-square" style="font-size: 40px;"></i>
			</div>
			<div class="title">
				<h4>Ejercicio 44</h4>
			</div>
			<div class="text">
				<span>Construir una función que reciba como parámetro una matriz 3x4 entera y retornea la cantidad de veces que se repite el mayor número primo de la matriz</span>
			</div>
			<NavLink href="Ejercicio_44">Ver aquí</NavLink>
		</div>
	</div>

	<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
		<div class="box-part text-center glow-border">
			<div class="number-container">
				<i class="bi bi-4-square" style="font-size: 40px;"></i>
				<i class="bi bi-6-square" style="font-size: 40px;"></i>
			</div>
			<div class="title">
				<h4>Ejercicio 46</h4>
			</div>
			<div class="text">
				<span>Construir una función que reciba como parámetro una matriz 4x4 entera y retorna el número de fila en donde se encuentra por primera vez el número mayor de la matriz</span>
			</div>
			<NavLink href="Ejercicio_46">Ver aquí</NavLink>
		</div>
	</div>

	<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
		<div class="box-part text-center glow-border">
			<div class="number-container">
				<i class="bi bi-4-square" style="font-size: 40px;"></i>
				<i class="bi bi-8-square" style="font-size: 40px;"></i>
			</div>
			<div class="title">
				<h4>Ejercicio 48</h4>
			</div>
			<div class="text">
				<span>Construir una función que reciba como parámetro una matriz 4x4 entero y retorne la posición exacta en dónde se encuentra almacenado el mayor número primo</span>
			</div>
			<NavLink href="Ejercicio_48">Ver aquí</NavLink>
		</div>
	</div>

	<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
		<div class="box-part text-center glow-border">
			<div class="number-container">
				<i class="bi bi-5-square" style="font-size: 40px;"></i>
				<i class="bi bi-0-square" style="font-size: 40px;"></i>
			</div>
			<div class="title">
				<h4>Ejercicio 50</h4>
			</div>
			<div class="text">
				<span>Construir una función que recibe una matriz 5x5 retorna la cantidad de veces que se repite su moda</span>
			</div>
			<NavLink href="Ejercicio_50">Ver aquí</NavLink>
		</div>
	</div>

</div>
